/* Global styles */

html {
  scroll-behavior: smooth;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --dark: #272727;
  --medium: #cecece;
  --light: #ffffff;
  --accent-color: #03b3ff;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

a {
  color: var(--accent-color);
}

button {
  background: var(--accent-color);
  padding: 10px 25px;
  border-radius: 5px;
  border: 0;
  margin: 20px 0;
  color: white;
  font-size: 20px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 100px;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}

/* Quiz Intro */
.quiz-intro {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  max-width: 700px;
}

#quiz-intro p {
  padding: 20px 0;
}

/* Question Card */
.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.question-card h2 {
  padding: 20px;
  max-width: 700px;
  line-height: 2.25rem;
}

.question-card li {
  background-color: var(--light);
  color: var(--accent-color);
  list-style-type: none;
  margin: 5px 0;
  min-width: 300px;
  border-radius: 5px;
}

.question-card input[radio]:hover {
  background-color: var(--accent-color);
  color: var(--light);
}

.question-card li label {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 10px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  border-radius: 5px;
}

.question-card li:hover {
  background-color: var(--accent-color);
  color: var(--light);
}

label:focus-within {
  background-color: var(--accent-color);
  color: var(--light);
}

input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

/* Set default submit button has hidden (script.js reveals this once quiz starts) */
#submit-btn {
  display: none;
}

/* Quiz results */
.quiz-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

ol li {
  list-style-type: decimal;
  padding: 5px 0;
}

#result {
  margin-top: 30px;
  line-height: 25px;
  /* display: none; */
}

#results {
  padding-top: 30px;
}

/* Form to input initials */
#initials-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: none;
}

#initials {
        position: relative;
        opacity: 100;
        pointer-events:inherit;
        background-color: transparent;
        display: inline;
        width: 75px;
        text-align: center;
        font-size: 24px;
        border: none;
        border-bottom: 2px solid var(--accent-color);
        color: var(--light);
}